%h1 Listing todos

%table#todos
  %thead
    %tr
      %th Title
      %th Description
      %th Completion
      %th

  %tbody
    - @todos.each do |todo|
      %tr
        %td= todo.title
        %td= todo.description
        %td.progress.success.small-2
          %span.meter{style:"width: #{todo.completion}%"}
        %td.action-buttons
          =link_to 'Show', todo, class: 'button tiny info'
          =link_to 'Edit', edit_todo_path(todo), class: 'button tiny'
          =link_to 'Destroy', todo, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button tiny alert'

%br
-if current_user
  = link_to 'New Todo', new_user_todo_path(user_id: current_user.id), class: 'button'
