%header.row
  %h1.text-center.medium-offset-3.medium-6.columns Find Recipes
%section.row
  %form
    .form-group.columns.medium-6.small-offset-3
      %input.large-12{'ng-model':'keywords',type:'text'}
    .form-group.medium-6.small-offset-3.text-center
      %button.btn.btn-primary.btn-lg{'ng-click':'search(keywords)'} Search
%hr/
%section.row{'ng-if':'todos'}
  %h1.text-center Results
  %ul.no-bullet
    %li{'ng-repeat':'todo in todos'}
      %h3.medium-6.columns.small-offset-2 {{todo.title}}
      %button.button.info.tiny Edit
      %button.button.alert.tiny Delete
