%header.row
  %h1.text-center.medium-offset-3.medium-6.columns Add Todo
%section.row
  %form
    .form-group.columns.medium-6.small-offset-3
      %input.large-12{'ng-model':'keywords',type:'text'}
      %textarea.large-12{type:'text'}
    .form-group.medium-6.small-offset-3.text-center
      %button.btn.btn-primary.btn-lg Add
%hr/
.row
  .large-4.medium-4.columns{'ng-repeat':'todo in todos'}
    %ul.pricing-table.active-tb.shadow.mrgn-20-top
      %li.title {{todo.title}}
      %li.bullet-item {{todo.description}}