<div class="row">
    <div class="large-offset-4 large-4 medium-4 columns">
        <h3 class="text-center">
            Filter todos
        </h3>
        <input type="text" ng-model="keywords">
    </div>
</div>
<div class="row">
    <div class="large-4 medium-4 columns" ng-repeat="todo in todos | filter:keywords">
        <ul class="pricing-table active-tb shadow mrgn-20-top">
            <li class="title">  {{todo.title}}  </li>
            <li class="bullet-item">  {{todo.description}}  </li>
            <li class="bullet-item">  {{todo.completion}}   </li>
        </ul>
    </div>
</div>