// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#todos{
  .meter {
    height: 40%;
  }
}
.action-buttons{
  .button {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }
}
textarea {
  height: 100px;
}
