.alert-box(data-alert active-class="in" flash-alert="success" ng-show="flash.message")
  %span.alert-message {{flash.message}}
  %button.close(href="#") &times;

.alert-box.alert(data-alert active-class="in" flash-alert="error" ng-show="flash.message")
  %span.alert-message {{flash.message}}
  %button.close(href="#") &times;

.alert-box.info(data-alert active-class="in" flash-alert="info" ng-show="flash.message")
  %span.alert-message {{flash.message}}
  %button.close(href="#") &times;