-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li.name
      = link_to 'Home', root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        Menu
  .top-bar-section
    %ul.right(ng-controller="UserCtrl")
      %li(ng-show="isAuthenticated")
        %a {{currentUser.email}}
      %li{"ng-show" => "!isAuthenticated"}
        %a.button{"ui-sref" => "sign_in"} Sign in
      %li{"ng-show" => "isAuthenticated"}
        %a.button{"ui-sref" => "sign_out"} Sign out
